#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(45deg, black, #221133);
}

.title {
  text-align: center;
  font-size: 50px;
  color: #fff;
  animation: flipTitle 2s;
}

@keyframes flipTitle {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.container-input {
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.container-input input {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: #fff;
  outline: none;
  margin-right: 20px;
}

.container-input input::placeholder {
  color: #f1f1f1;
  text-align: center;
}

.button-search {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;
}

.button-search:hover {
  transform: scale(1.2);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
}

.main h2 {
  margin: 16px 0;
  font-size: 39px;
}

.main span {
  margin-bottom: 16px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 300px) {
  .title {
    font-size: 30px;
  }

  .main h2 {
    font-size: 20px;
  }

  .main {
    width: 80%;
    min-height: 250px;
  }

  .container-input input {
    border: 0;
    font-size: 10px;
  }
}
